* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #252525;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

button {
    width: 150px;
    height: 50px;
    background-color: #252525;
    /* border-radius: 5px; */
    color: #f1f1f1;
    /* color: #252525; */
    /* background-color: #f1f1f1; */
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.5s;
    cursor: pointer;
    border: none;
    z-index: 10;
}

button:hover {
    letter-spacing: 2px;
}

button.btnHov {
    background: rgb(0, 255, 0);
    box-shadow: 0 0 10px rgb(0, 255, 0), 0 0 40px rgb(0, 255, 0), 0 0 80px rgb(0, 255, 0);
    color: #252525;
}

.hov {
    width: 60px;
    height: 50px;
    background-color: rgb(0, 255, 0);
    position: absolute;
    bottom: -5px;
    /* border-radius: 5px; */
    z-index: -10;
}

.hovIn {
    animation-name: hovIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes hovIn {
    0% {
        width: 60px;
        height: 5px;
    }

    50% {
        width: 160px;
        height: 5px;
    }

    100% {
        width: 160px;
        height: 50px;
    }
}

.hovOut {
    animation-name: hovOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes hovOut {
    0% {
        width: 160px;
        height: 60px;
    }

    50% {
        width: 160px;
        height: 5px;
    }

    100% {
        width: 60px;
        height: 5px;
    }
}

.left {
    background-color: rgb(0, 255, 0);
    position: absolute;
    height: 5px;
    top: 0px;
    left: -5px;
    z-index: 20;
}

.right {
    background-color: rgb(0, 255, 0);
    position: absolute;
    height: 5px;
    top: 0px;
    right: -5px;
    z-index: 20;
}

.hovLeft {
    animation-name: hovLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes hovLeft {
    0% {
        right: 150px;
    }

    100% {
        right: 75px;
    }
}

.hovRight {
    animation-name: hovRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes hovRight {
    0% {
        left: 150px;
    }

    100% {
        left: 75px;
    }
}